<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zeewoncode.pdd_server.mapper.AddressesMapper">


    <update id="updateUserAddress" parameterType="com.zeewoncode.entity.UserAddress">
        update user_address
        <set>
            <if test="receiverName != null">
                receiver_name = #{receiverName},
            </if>
            <if test="receiverPhone != null">
                receiver_phone = #{receiverPhone},
            </if>
            <if test="province != null">
                province = #{province},
            </if>
            <if test="city != null">
                city = #{city},
            </if>
            <if test="district != null">
                district = #{district},
            </if>
            <if test="detail != null">
                detail = #{detail},
            </if>
            <if test="isDefault != null">
                is_default = #{isDefault},
            </if>
        </set>
        where id = #{id} AND user_id = #{userId}
    </update>
</mapper>
